

#grid-layout
{
	display: grid;	
	grid-template-areas:
	'clock calendar notifs'
	'nothing calendar notifs';
	grid-auto-columns: 1fr;
}

#clock
{
	grid-area: clock;
}

#calendar
{
	grid-area: calendar;
}

#notifs
{
	grid-area: notifs;
}


.clock-display
{
	font-size: 4em;
}

.area
{
	/* margin: 5px; */
	border-style: none;
	border-width: 1px;
	border-color: rgba(200, 255, 255, .9);
}

.container
{
	margin: 10px;
	padding: 10px;
	background-color: rgba(220, 255, 230, .7);
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	border-radius: 2px;
	user-select: none;
}

.title
{
	font-size: 1.5em;
}


body {
	font: 500 1.2em/1.2 'Roboto Light', sans-serif;
	background: #00c3ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

